@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
    color: #232323 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif !important;
    color: #232323 !important;
    font-weight: 700 !important;
}

#wrapper .breadcrumb ol li span {
    font-weight: 400;
    font-size: 11px;
    color: #949292;
    line-height: 20px;
    text-transform: uppercase;
}

#wrapper .breadcrumb ol li:first-child span {
    text-transform: capitalize;
}

#wrapper .breadcrumb ol li:last-child span {
    color: #7a7a7a;
}

#wrapper .breadcrumb ol li::after {
    content: ">";
    font-size: 11px;
}