@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
    color: #232323 !important;
}

#wrapper .breadcrumb ol li span {
    font-weight: 400;
    font-size: 11px;
    color: #949292;
    line-height: 20px;
    text-transform: uppercase;
}

#wrapper .breadcrumb ol li:first-child span {
    text-transform: capitalize;
}

#wrapper .breadcrumb ol li:last-child span {
    color: #7a7a7a;
}

#wrapper .breadcrumb ol li::after {
    content: ">";
    font-size: 11px;
}

#product .product-container .product-image-col {
    max-width: 520px !important;
    margin-bottom: 25px !important;
}

#product .product-container .product-image-col .product-cover img,
#product .product-container .product-image-col .product-cover .layer {
    border-radius: 15px;
}

#product .product-container .product-image-col .product-cover .layer {
    background: rgba(255, 255, 255, .7);
}

#product .product-container .product-image-col .product-cover .layer .zoom-in {
    font-size: 6.25rem;
    color: #7a7a7a;
}

#product .product-images .thumb-container .thumb.selected,
#product .product-images .thumb-container .thumb:hover {
    border: 1px solid #e8e8e8;
}

.star-content div.star,
.star-content div.star-on, .star-content div.star-hover {
    background: none !important;
}

.star-content div.star {
    content: url(../img/empty-star.svg);
    display: block;
    width: 26px;
    height: 31px;
}

.star-content div.star-on, .star-content div.star-hover {
    content: url(../img/full-star.svg);
    display: block;
    width: 26px;
    height: 31px;
}